.img{
    width: 100%;
    height: 100%;
}

@media(min-width:1200px){
    h1{
        color: red;
    }
}
@media(max-width:1200px) and (min-width:992px){
    h1{
        color: yellow;
    }
}
@media(min-width:350px) and (max-width:650px){
    h1{
        color: aquamarine;
    }
}